# requirements.txt create karein
echo fastapi > requirements.txt
echo uvicorn >> requirements.txt
echo pandas >> requirements.txt
echo sqlalchemy >> requirements.txt
echo pydantic >> requirements.txt
echo psutil >> requirements.txt
echo requests >> requirements.txt
echo scikit-learn >> requirements.txt
echo numpy >> requirements.txt